{% extends 'base.html.twig' %}

{% block title %}Travaux{% endblock %}

{% block body %}
<div class="container">
    <h1>Travaux</h1>
{% for travaux in trav %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ travaux.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ travaux.name }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ travaux.ville }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ travaux.description }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ travaux.slug }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ travaux.picture }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ travaux.createdAt ? travaux.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
{% endfor %}
    <a href="{{ path('travaux_index') }}">Retour à la liste</a>

  {#  <a href="{{ path('travaux_edit', {'id': travaux.id}) }}">edit</a> #}

   {#  {{ include('admin/travaux/_delete_form.html.twig') }} #}
</div>
{% endblock %}
